.products_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px 30px;
  margin: 50px 150px;
  place-items: center;
}
.card_container {
  height: 320px;
  width: 250px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
.img_container {
  width: 100%;
  object-fit: contain;
  max-height: 170px;
  padding: 0 10px;
}
.card_container h3 {
  font-size: 16px;
  margin-top: 10px;
}
.rating {
  display: flex;
  gap: 2px;
  align-items: center;
  font-size: 13px;
}
.button {
  display: none;
}
.button {
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 16px;
  background-color: #fcb902;
  width: 100%;
  padding: 3px;
  position: absolute;
  bottom: 2%;
  left: 0%;
}
.card_container:hover {
  .button {
    display: block;
  }
}
.product_flexed {
  box-shadow: none;
  display: flex;
  height: 50vh;
  gap: 50px;
  width: 100%;
}
.product_flexed h3 {
  padding: 20px 0;
}
.product_flexed .button {
  display: block;
  position: static;
  width: 150px;
  margin-right: 40px;
}
.product_flexed img {
  width: 300px !important;
  height: auto;
  max-height: 300px;
}
@media screen and (max-width: 768px) {
  .product_flexed {
    display: flex;
    flex-direction: column;
  }
}
