.payment__header {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  background-color: rgb(234, 237, 237);
}
.payment {
  padding: 0 30px;
}
.flex {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.flex h3 {
  min-width: 300px;
}
.flex img {
  width: 80px !important;
}
.flex div {
  height: auto !important;
}
.payment__card_container {
  max-width: 350px;
  width: 100%;
}
.card__error {
  color: red;
  padding: 2px;
  margin: 2px auto;
  text-align: center;
}
.payment__price {
  padding: 20px;
}
.payment__price > div {
  display: flex;
  font-size: 16px;
  gap: 10px;
}
.payment__details button {
  width: 100%;
  margin-top: 15px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 8px 10px;
  cursor: pointer;
}
.payment__details button:hover {
  background-color: var(--primary-shade);
}
@media screen and (max-width: 868px) {
  .flex {
    flex-direction: column;
  }
}
