* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_container {
  background-color: #131921;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  height: 60px;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 250px;
  /* flex: 0.25; */
}
.logo_container a {
  width: 50%;
}

.logo_container img {
  width: 80%;
  padding-top: 5px;
  margin-left: 10px;
  vertical-align: middle;
}

.delivery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-weight: bold;
  padding: 5px;
}

.delivery p {
  color: #cccccc;
  font-weight: 400;
  font-size: 0.9rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  flex: 1;
}

.search select,
.search input {
  padding: 10px;
  font-weight: bold;
  outline: 1px solid #fff;
}

.search select {
  border: none;
}

.search input {
  border: 1px solid #fff;
  width: 100%;
  margin-right: -2px;
}

.search svg {
  padding: 7px;
  color: #1a1a1a;
  background-color: #febd69;
  /* border: none; */
}

.search svg:hover {
  background-color: #f4a847;
}

.search svg:focus-within {
  border: 2px solid #ff9900;
}

.order_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 450px;
  flex: 0.4;
}

.order_container a {
  text-decoration: none;
  color: #fff;
}

.order_container p {
  font-size: 13px;
}

.language {
  width: 80px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.language select {
  background-color: #1a1a1a;
  border: none;
  color: #fff;
}

.language img {
  width: 25%;
}

.cart {
  position: relative;
}

.cart .order_amount {
  position: absolute;
  font-weight: bold;
  top: 3px;
  left: 19px;
  font-size: 15px;
  background-color: #1a1a1a;
  color: orange;
}

.order_container a:hover,
.delivery:hover,
.logo_container a:hover,
.lower_container ul li:hover {
  border: 1px solid #fff;
  border-radius: 3px;
}

.lower_container {
  background-color: #232f3e;
  color: #fff;
}
.lower_container ul {
  display: flex;
  list-style: none;
  gap: 5px;
}

.lower_container ul li {
  padding: 8px;
}
.lower_container ul li a {
  text-decoration: none;
  color: #fff;
}

.lower_container ul li a:first-child {
  display: flex;
  align-items: center;
  gap: 2px;
}

@media screen and (max-width: 576px) {
  .header_container {
    display: flex;
    flex-direction: column !important;
    height: auto;
  }
  .lower_container ul li:not(:first-child) {
    display: none;
  }
  .language {
    display: none;
  }
}
